.moodCard-container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 10px;
    background-color: #f1f8fb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
}

.moodCard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.moodCard-mood {
    display: flex;
    align-items: center;
    gap: 8px;
}

.moodHistory-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 16px;
    gap: 24px;
    background-color: #f1f8fb;
    width: 440px;
    padding: 16px;
    height: 576px;
    overflow-y: auto;
}
