.centered-form-flex-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 715px;
}

.mood-button-wrapper {
    font-size: 80px;
}

.mood-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 50px;
}

.reasons-container {
    margin-top: 50px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 8px;
}
